@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-5">
    <h1 class="text-warning">Panel de Administración</h1>
    <p class="text-light">Bienvenido al área de administración de mvcProyectoWeb.</p>
</div>